Saad_Hridy/textures/*.png filter=lfs diff=lfs merge=lfs -text
Saad_Hridy/texture/textures/*.png filter=lfs diff=lfs merge=lfs -text
Saad_Hridy/assets/*.fbx filter=lfs diff=lfs merge=lfs -text
Saad_Hridy/assets/*.glb filter=lfs diff=lfs merge=lfs -text
Saad_Hridy/assets/*.obj filter=lfs diff=lfs merge=lfs -text
